.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @include onTablet {
    align-items: start;
    width: 310px;
  }

  @include onDesktop {
    align-items: start;
    width: 310px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      gap: 34px;
    }
  
    @include onDesktop {
      gap: 34px;
    }

    &_item {
      display: flex;

      &--last {
        margin: 0;
      }
    }

    &_icon {
      box-sizing: border-box;
      padding-top: 4px;
    }

    &_image {
      height: $details-icon-size;
      width: $details-icon-size;

      object-fit: contain;
      object-position: left;
    }

    &_title {
      color: white;
      line-height: 18px;
      letter-spacing: 0.42px;

      margin-left: 14px;

      @include onTablet {
        line-height: 24px;
      }
    
      @include onDesktop {
        line-height: 24px;
      }
    }
  }
}
