.main {
  max-width: 1170px;
  margin: 0 auto;

  &__project_home {
    height: 50vh;

    @include onTablet {
      height: calc(100vh - 98px);

      scroll-snap-align: inherit;
    }

    @include onDesktop {
      height: calc(100vh - 122px);

      scroll-snap-align: inherit;
    }
  }
}
